body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-color: black;
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.gradient {
  background-image: linear-gradient(to right, #da00ff, #07fff4);
}

table#simTbl {
  background-color: white;
  text-align: center;
  font-family: "Merriweather", "Cambria Math", Cambria, "Times New Roman";
  font-weight: bold;
  border-radius: 10px;
}

table#simTbl,
table#simTbl tbody,
tr,
th,
td {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  border-spacing: unset;
  border-width: 1.5px;
}

table#simTbl th,
td {
  width: 64px;
  height: 32px;
}

table#simTbl th {
  width: 64px;
  height: 32px;
}

table#simTbl th,
td {
  border-style: solid;
}

table#simTbl th:first-child {
  /*Canto Base*/
  background-color: #000000;
  color: white;
  border-color: white;
  border-style: ridge;
  border-top-left-radius: 10px;
}

table#simTbl th:not(:first-child) {
  /*Header (sem canto Base)*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl tr:not(:first-child):not(:last-child) td:first-child {
  /*header lateral restrcoes*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl th:last-child {
  /*Header (sem canto Base)*/
  border-top-right-radius: 10px;
}

table#simTbl tr:not(:first-child):not(:last-child) td:last-child {
  /*Peso coficentes*/
  background-color: darkgray;
}

table#simTbl tr:last-child td:first-child {
  /*Canto Objetiva*/
  background-color: #7a7a7a;
  border-color: white;
  color: white;
  border-style: ridge;
}

table#simTbl tr:last-child td:not(:first-child) {
  /*Coeficientes Objetiva*/
  background-color: darkgray;
}

.sub {
  font-size: 90%;
  position: relative;
  bottom: -0.25em;
}

.inputWrppr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0%;
  margin: 1.5%;
  width: 265px;
}

.buttonWrppr {
  /* background-color:red; */
  margin: 1% 0% 1% 0%;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
}

.fnctnWrppr {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  margin: 15px;
}

.mdlOvrvwWrppr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  margin: 15px;
  padding: 0%;
  width: fit-content;
}

#objFnctn text,
#objFnctn input,
[id*="resRow"] text,
[id*="resRow"] input,
#mdlOvrvw text,
#mdlOvrvw input {
  white-space: nowrap;
  box-sizing: border-box;
}

#objFnctn input, [id*="resRow"] input, #mdlOvrvw input {
  width: 32px;
  text-align: end;
}

#prvStpBtn,
#nxtStpBtn {
  width: 100px;
  margin-left: 1%;
  margin-right: 1%;
  white-space: nowrap;
  box-sizing: border-box;
}

.defMrgnL {
  margin-left: 15px;
}

.defMrgnR {
  margin-right: 15px;
}


.red{
  color: rgb(145, 12, 12);
}

.it{
  font-style: italic;
}

.hide{
  display: none;
 }