body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-color: black;
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.gradient {
  background-image: linear-gradient(to right, #da00ff, #07fff4);
}

.easter{
  background-image:url(https://media1.tenor.com/images/01364e7fa4776c0f1f075f0e33b600c5/tenor.gif?itemid=14038823);
  background-position: center;
  background-repeat: no-repeat;
  height: 212px;
  width: 490px;
}


table#simTbl {
  background-color: white;
  text-align: center;
  font-family: "Merriweather", "Cambria Math", Cambria, "Times New Roman";
  font-weight: bold;
  border-radius: 10px;
}

table#simTbl,
table#simTbl tbody,
tr,
th,
td {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  border-spacing: unset;
  border-width: 1.5px;
}

table#simTbl th,
td {
  width: 64px;
  height: 32px;
}

table#simTbl th {
  width: 64px;
  height: 32px;
}

table#simTbl th,
td {
  border-style: solid;
}

table#simTbl th:first-child {
  /*Canto Base*/
  background-color: #000000;
  color: white;
  border-color: white;
  border-style: ridge;
  border-top-left-radius: 10px;
}

table#simTbl th:not(:first-child) {
  /*Header (sem canto Base)*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl tr:not(:first-child):not(:last-child) td:first-child {
  /*header lateral restrcoes*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl th:last-child {
  /*Header (sem canto Base)*/
  border-top-right-radius: 10px;
}

table#simTbl tr:not(:first-child):not(:last-child) td:last-child {
  /*Peso coficentes*/
  background-color: darkgray;
}

table#simTbl tr:last-child td:first-child {
  /*Canto Objetiva*/
  background-color: #7a7a7a;
  border-color: white;
  color: white;
  border-style: ridge;
}

table#simTbl tr:last-child td:not(:first-child) {
  /*Coeficientes Objetiva*/
  background-color: darkgray;
}

.sub {
  font-size: 90%;
  position: relative;
  bottom: -0.25em;
}

.inputWrppr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0%;
  margin: 1.5%;
  width: 265px;
}

.buttonWrppr {
  /* background-color:red; */
  margin: 1% 0% 1% 0%;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
}

button:focus, input:focus, select:focus {
  outline: none;
  border-color: #f7a90085;
  border-width: 2px;
  border-style: solid;
}

.fnctnWrppr {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 15px;
}

.mdlOvrvwWrppr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  margin: 15px;
  padding: 0%;
  width: fit-content;
}

#objFnctn text,
#objFnctn input,
[id*="resRow"] text,
[id*="resRow"] input,
#mdlOvrvw text,
#mdlOvrvw input {
  white-space: nowrap;
  box-sizing: border-box;
}

#objFnctn input, [id*="resRow"] input, #mdlOvrvw input {
  width: 32px;
  text-align: end;
}

.defBtn{
  width: fit-content;
  margin-left: 1%;
  margin-right: 1%;
  white-space: nowrap;
  box-sizing: border-box;
}

.defMrgnL {
  margin-left: 15px;
}

.defMrgnR {
  margin-right: 15px;
}

.coefMrgnR {
  margin-right: 2.5px;
}


.red{
  color: rgb(145, 12, 12);
}

.it{
  font-style: italic;
}

 .comma{
    margin-right: 5%;
 }

 .resTableWrppr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.mdlResTableWrppr {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: start;
    margin: 1%;
}

.fnctnWrppr,
.inputWrppr,
#resSlct text,
#mdlOvrvw text
{
  white-space:nowrap;
  font-family: "Cambria Math";
  font-size:1em;
}

.varInsWrppr {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    white-space: nowrap;
}

 /*
  For Firefox
input[type='number'] {
  -moz-appearance:textfield;
}
  Webkit browsers like Safari and Chrome
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*/
.hide{
  display: none;
 }

 .hl {
  background-color: #fbff00e3;
  }