body {
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-color: black;
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.gradient {
  background-image: url(./resources/marineBgNoise.png);
}

.easter {
  background-image: url(https://media1.tenor.com/images/01364e7fa4776c0f1f075f0e33b600c5/tenor.gif?itemid=14038823);
  background-position: center;
  background-repeat: no-repeat;
  height: 212px;
  width: 490px;
}

.byzero {
  background-image: url(./resources/byzero.png);
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  cursor: none;
}

table#simTbl {
  background-color: white;
  text-align: center;
  font-family: "Merriweather", "Cambria Math", Cambria, "Times New Roman";
  font-weight: bold;
  border-radius: 10px;
}

table#simTbl,
table#simTbl tbody,
tr,
th,
td {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  border-spacing: unset;
  border-width: 0.1vw;
}

table#simTbl th,table#simTbl td{
  width: 3.5vw;
  height: 4vh;
}

table#simTbl th,
table#simTbl td,
table#simTbl text{
 font-size:1vw;
}

table#simTbl th,
td {
  border-style: solid;
}

table#simTbl th:first-child {
  /*Canto Base*/
  background-color: #000000;
  color: white;
  border-color: white;
  border-style: ridge;
  border-top-left-radius: 10px;
}

table#simTbl th:not(:first-child) {
  /*Header (sem canto Base)*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl tr:not(:first-child):not(:last-child) td:first-child {
  /*header lateral restrcoes*/
  background-color: darkgray;
  border-color: white;
  border-style: ridge;
}

table#simTbl th:last-child {
  /*Header (sem canto Base)*/
  border-top-right-radius: 10px;
}

table#simTbl tr:not(:first-child):not(:last-child) td:last-child {
  /*Peso coficentes*/
  background-color: darkgray;
}

table#simTbl tr:last-child td:first-child {
  /*Canto Objetiva*/
  background-color: #7a7a7a;
  border-color: white;
  color: white;
  border-style: ridge;
}

table#simTbl tr:last-child td:not(:first-child) {
  /*Coeficientes Objetiva*/
  background-color: darkgray;
}

.sub {
  font-size: 90%;
  position: relative;
  bottom: -0.25em;
}

.inputWrppr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0%;
  margin: 1.5%;
  width: 265px;
}

.inputWrppr text {
  box-sizing: border-box;
  padding: 1%;
  margin: 1.5% 0% 1.5% 0%;
  font: 1.5em "Open Sans", sans-serif;
}

.buttonWrppr {
  /* background-color:red; */
  margin: 1% 0% 1% 0%;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  position: fixed;
  bottom: 38%;
  right: 20%;
}

button:focus,
input:focus,
select:focus {
  outline: #ffc0592b solid 2px;
  box-shadow: 0 1px 3px 0 #3c40434d, 0 4px 8px 3px #3c404326;
  transition: 0.2s;
}

.fnctnWrppr {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 15px;
}

.mdlOvrvwWrppr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  margin: 15px;
  padding: 0%;
  width: fit-content;
}

#objFnctn text,
#objFnctn input,
[id*="resRow"] text,
[id*="resRow"] input,
#mdlOvrvw text,
#mdlOvrvw input {
  white-space: nowrap;
  box-sizing: border-box;
}

#objFnctn input,
[id*="resRow"] input,
#mdlOvrvw input {
  width: 32px;
  text-align: end;
}

.defBtn {
  margin-left: 1%;
  margin-right: 1%;
  white-space: nowrap;
  box-sizing: border-box;
  width: 7.5vw;
  height: 5.5vh;
  border-radius: 55px;
  background: white;
  outline: unset;
  padding: 0;
  margin: 0;
  text-align: center;
  font: bold 0.7vw "Open Sans", sans-serif;
  border: unset;
  box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}

.defBtn:hover {
  background: #eaeaea;
  box-shadow: 0 1px 3px 0 #3c40434d, 0 4px 8px 3px #3c404326;
  transition: 0.2s;
}

.defMrgnL {
  margin-left: 15px;
}

.defMrgnR {
  margin-right: 15px;
}

.coefMrgnR {
  margin-right: 2.5px;
}

.red {
  color: rgb(145, 12, 12);
}

.it {
  font-style: italic;
}

.comma {
  margin-right: 5%;
}

.resTableWrppr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.mdlResTableWrppr {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
  margin: 1%;
}

.fnctnWrppr,
.inputWrppr,
#mdlOvrvw text {
  white-space: nowrap;
  font-family: "Cambria Math";
  font-size: 1em;
}

.varInsWrppr {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  white-space: nowrap;
  font: 1.2em "Open Sans", sans-serif;
}

/*
For Firefox
input[type='number'] {
-moz-appearance:textfield;
}
Webkit browsers like Safari and Chrome
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
*/
.hide {
  display: none;
}

.hl {
  background-color: #fbff00e3;
}

.varBtnsWrppr {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 1.5%;
  margin: 1.5%;
}

.varResBtn {
  background: white;
  border-radius: 100%;
  box-sizing: border-box;
  color: black;
  border: unset;
  font-family: "Cambria Math";
  font-size: 2em;
  text-align: center;
  width: 40px;
  box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}

.varResBtn:hover {
  border: unset;
  cursor: pointer;
  box-shadow: 0 2.5px 10px 0px #3c40434d, 0 4px 8px 3px #3c404326;
  transition: 0.2s;
}

.varResBtn:active {
  background: black;
  color: white;
  border: unset;
}

.varResBtn--slctd {
  background: black;
  color: white;
  border: unset;
  box-shadow: 0 2.5px 10px 0px #3c40434d, 0 4px 8px 3px #3c404326;
}

.fraction-box {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: solid gray 1px;
  box-sizing: border-box;
  box-shadow: 0 2.5px 10px 0px #3c40434d, 0 4px 8px 3px #3c404326;
  display: flex;
  font-family: "Cambria Math";
  font-size: 1.5em;
  font-variant-numeric: diagonal-fractions;
  height: fit-content;
  justify-content: center;
  padding: 1%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.01s;
  width: fit-content;
}

@media all and (max-height: 600px) {
  body {
    width: 100%;
    height: 150vh;
  }

  .buttonWrppr {
    /* background-color: #ff000036; */
    margin: 1% 1% 1% 1%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: fit-content;
    bottom: 0vh;
    right: 4%;
  }

  .defBtn {
    margin-left: 1%;
    margin-right: 1%;
    white-space: nowrap;
    box-sizing: border-box;
    width: fit-content;
    height: 7vh;
    border-radius: 5px;
    border: solid black 1.5px;
    background: white;
    outline: unset;
    padding: 0%;
    margin: 1%;
    text-align: center;
    font: bold 0.8em "Clear Sans";
  }
}

.dCWrppr {
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: fit-content;
  left: 0%;
  margin: 0.5%;
  padding: 0.5%;
  position: fixed;
  top: 0%;
  width: 25vw;
  text-align: justify;
}

.dCWrppr h3 {
  padding: 0%;
  margin: 1% 1.5% 1% 1.5%;
  font-size: 1.25vw;
  white-space: nowrap;
}


.dCWrppr ol {
  /**/
  width: -webkit-fill-available;
  font-size: 1vw;
}

.sttcCard {
  /* background-color: #ff000085; */
  border-bottom: solid 1.5px;
  line-height: 1.45vw;
  text-align: start;
}

.dnmcCard {
  /* background-color: green; */
  line-height: 1.45vw;
}

.bttmCard {
  /* background-color: green; */
  line-height: 0.9vw;
}

.dCWrppr div {
  padding: 1%;
  margin: 1%;
  box-sizing: border-box;
}

.defS {
  box-shadow: 0 1px 3px 0 #3c40434d, 0 4px 8px 3px #3c404326;
}

.markEl {
  color: red;
  font-weight: bold;
  box-shadow: red -1px 2px 0px -1px;
  transition: .3s;
}

#innOl{  
  color: black;    
  font-weight: normal;    
  box-shadow: unset;    
  transition: 0s;
  }

.dCWrppr text {
  /**/
  width: -webkit-fill-available;
  font-size: 1vw;
}

.TdCWrppr {
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: fit-content;
  left: 0%;
  margin: 0.5%;
  padding: 0.5%;
  position: fixed;
  top: 51%;
  width: 71vw;
  text-align: justify;
}

.TdCWrppr h3 {
  padding: 0%;
  margin: 1% 1.5% 1% 1.5%;
  font-size: 1.25vw;
  white-space: nowrap;
}

.TdCWrppr text {
  width: -webkit-fill-available;
  font-size: 0.8vw;
}